.App {
  text-align: center;
}
body {
  background-color: #918d8d78 !important;
  /* color: white; */
  font-family: "Ubuntu", sans-serif !important;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.btn {
  padding: 5px !important;
  transition: all 0.3s ease-in-out !important;
}
.ubun {
  font-family: "Ubuntu", sans-serif !important;
}
.btn > h1 {
  font-size: 500%;
  line-height: 0;
}
.tit {
  font-family: "Roboto Mono", monospace;
}
.company {
  font-family: "Rubik Bubbles", cursive;
}
@media (max-width: 1200px) {
  .btn > h1 {
    font-size: 400%;
  }
}
@media (max-width: 1000px) {
  .btn > h1 {
    font-size: 300%;
  }
}
@media (max-width: 600px) {
  #heading {
    font-size: 200%;
  }
  .btn > h1 {
    font-size: 170%;
  }
  .boox {
    display: flex;
    align-items: center;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
  }
}

.btn:hover {
  scale: 1.05 !important;
  cursor: inherit !important;
}
